<section id="contact_us_section" class="contact-us-section">
    <div class="contact-us-wrapper">
        <img src="../../assets/banners/contact-us-bg.jpg" class="contact-bg" />
        <article class="contact-us-article">
            <h1 class="common-headers">Get in Touch Today!</h1>
            <p class="common-texts">We'd love to hear from you! Whether you have a question, feedback, or need assistance, feel free to reach out. Our team is ready to provide you with the support you need. Contact us through any of the options listed, and we'll get back to you as soon as possible.</p>
            <p class="social-medias">
                <a class="social-media-links" href="mailto:nexuselixir.contactus@gmail.com" target="_blank"><img src="./../../assets/icons/email.png" class="social-media-icons"/> </a>
                <a class="social-media-links" href="tel:+639774901411" target="_blank"><img src="./../../assets/icons/phone.png" class="social-media-icons"/> </a>
                <a class="social-media-links" href="#" target="_blank"><img src="./../../assets/icons/business.png" class="social-media-icons"/> </a>
                <a class="social-media-links" href="https://www.facebook.com/RBGROUPCONSTRUCTIONMATERIALSTRADING" target="_blank"><img src="./../../assets/icons/social-media.png" class="social-media-icons"/> </a>
            </p>
        </article>
    </div>
    <div class="footer-container">
        <span class="footer-texts">© 2024 NEXUS ELIXIR SOLUTIONS CORP. All rights reserved.</span>
        <span class="footer-texts">Partners with RBGROUP DIAMOND CORPORATION.</span>
    </div>
</section>