.about-us-section {
    background: #262626;
    padding-bottom: 100px;
    .common-headers, .common-headers2, .common-texts {
        span {
            color: hsl(0 0% 100% / 0.2);
            background-clip: text;
            background-repeat: no-repeat;
            background-size: 0 100%;
            background-image: linear-gradient(40deg, #8cb3f3, #7a71ff);
            animation: text-reveal linear forwards;
            animation-timeline: view();
        }
    }

    .about-us-article {
        p {
            text-align: justify;
        }

        .common-headers span {
            animation-range-start: 10%;
            animation-range-end: 15%;
        }
    
        .common-texts span {
            animation-range-start: 10%;
            animation-range-end: 40%;
        }
    }

    .core-values-container {
        padding: 0 20px;
        .common-headers span {
            animation-range-start: 10%;
            animation-range-end: 20%;
        }

        .common-headers2 span {
            animation-range-start: 10%;
            animation-range-end: 20%;
        }
    
        .common-texts span {
            animation-range-start: 15%;
            animation-range-end: 30%;
        }
    }

    .mission-vision-container {
        padding: 0 20px;
        .common-headers span {
            animation-range-start: 10%;
            animation-range-end: 15%;
        }

        .common-headers2 span {
            animation-range-start: 10%;
            animation-range-end: 15%;
        }
    
        .common-texts span {
            animation-range-start: 10%;
            animation-range-end: 25%;
        }
    }
}

.about-us-article, .mission-vision-container, .core-values-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.about-us-article {
    padding: 100px 0 50px 0;
    text-align: center;

    .common-texts {
        padding: 0 20px;
    }
}

.mission-vision-container {
    margin: 50px auto 0 auto;
}

.mission-vision-article {
    position: relative;
    height: 200px;
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    box-sizing: border-box;
    justify-content: center;
    &:last-child {
        .common-headers {
            right: 0;
            left: auto !important;
        }
    }    
    .common-texts {
        text-align: center;
        margin: 0;
        width: 70%;
    }
    .common-headers {
        position: absolute;
        font-size: clamp(100px, 10vw, 200px);
        opacity: .2;
        top: 0;
        left: 0;
        margin: 0;
        line-height: 100px;
    }
}

.star-container {
    label {
        cursor: auto;
        font-size: clamp(20px, 4vw, 60px);
        margin-right: 15px;
        font-family: 'Calibri-Bold';
    }
}

.core-values-container {
    position: relative;
    .common-headers {
        font-size: clamp(100px, 10vw, 200px);
        opacity: 0.2;
        position: absolute;
        top: -100px;
        left: 20px;
        label {
            cursor: auto;
            letter-spacing: 10px;
        }
    }
}

.star-container {
    width: 80%;
    margin: 50px auto 0 auto;
    .common-texts {
        margin: 0;
    }

    span {
        display: inline-block;
    }
}