.about-us-section {
    background: #262626;
    padding-bottom: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    .common-headers, .common-headers2, .common-texts {
        span {
            color: hsl(0 0% 100% / 0.2);
            background-clip: text;
            background-repeat: no-repeat;
            background-size: 0 100%;
            background-image: linear-gradient(40deg, #8cb3f3, #7a71ff);
            animation: text-reveal linear forwards;
            animation-timeline: view();
        }
    }

    .about-us-article {
        p {
            text-align: justify;
        }

        .common-headers span {
            animation-range-start: 10%;
            animation-range-end: 15%;
        }
    
        .common-texts span {
            animation-range-start: 10%;
            animation-range-end: 40%;
        }
    }

    .service-article, .mission-vision-article {
        padding-right: 50px;
        box-sizing: border-box;
        width: 50%;
        p {
            text-align: justify;
        }
        &:last-child {
            padding-right: 0;
            padding-left: 50px;
        }
    }

    .services-container, .core-values-container {
        margin-top: 50px;
        padding: 0 20px;
        .common-headers span {
            animation-range-start: 10%;
            animation-range-end: 15%;
        }

        .common-headers2 span {
            animation-range-start: 10%;
            animation-range-end: 15%;
        }
    
        .common-texts span {
            animation-range-start: 10%;
            animation-range-end: 40%;
        }
    }

    .mission-vision-container {
        padding: 0 20px;
        .common-headers span {
            animation-range-start: 10%;
            animation-range-end: 15%;
        }

        .common-headers2 span {
            animation-range-start: 10%;
            animation-range-end: 15%;
        }
    
        .common-texts span {
            animation-range-start: 10%;
            animation-range-end: 25%;
        }
    }
}

.about-us-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.about-us-article {
    padding: 100px 0 50px 0;
    text-align: center;
}

.services-wrapper, .mission-vision-wrapper {
    display: flex;
}

.star-container {
    label {
        cursor: auto;
        font-size: clamp(20px, 2vw, 40px);
        margin-right: 15px;
        font-family: 'Calibri-Bold';
    }
}

.core-values-container {
    .common-headers {
        label {
            cursor: auto;
            letter-spacing: 10px;
        }
    }
}