.about-us-section {
    background: #262626;
    padding-bottom: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    .common-headers, .common-headers2, .common-texts {
        span {
            color: hsl(0 0% 100% / 0.2);
            background-clip: text;
            background-repeat: no-repeat;
            background-size: 0 100%;
            background-image: linear-gradient(40deg, #8cb3f3, #7a71ff);
            animation: text-reveal linear forwards;
            animation-timeline: view();
        }
    }

    .about-us-article {
        .common-headers span {
            animation-range-start: 10%;
            animation-range-end: 15%;
        }
    
        .common-texts span {
            animation-range-start: 10%;
            animation-range-end: 40%;
        }
    }

    .service-article {
        padding-right: 50px;
        &:last-child {
            padding: 0;
        }
    }

    .services-container {
        margin-top: 50px;
        padding: 0 20px;
        .common-headers span {
            animation-range-start: 10%;
            animation-range-end: 15%;
        }

        .common-headers2 span {
            animation-range-start: 10%;
            animation-range-end: 15%;
        }
    
        .common-texts span {
            animation-range-start: 10%;
            animation-range-end: 40%;
        }
    }
}

.about-us-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.about-us-article {
    padding: 100px 0 50px 0;
    text-align: center;
}

.services-wrapper {
    display: flex;
}