<section id="our_products" class="products-section">
    <div class="products-block">
        <h1 class="common-headers">Our Products</h1>
        <div class="products-wrapper">
            <h1 class="common-headers">Work Highlights</h1>
            <p class="common-texts">At <b>Nexus Elixir Solutions Corporation</b>, we're passionate about creating smart software and reliable hardware that help businesses thrive. From building cutting-edge apps to delivering top-notch IT Services, we're all about making things work seamlessly together. Every project we take on reflects our dedication to quality, innovation, and helping our clients succeed.</p>
            <article class="project-block">
                <div class="software-card projects-card" (click)="redirectsTo('software')">
                    <img src="./../../assets/banners/software.jpg" class="projects-img" />
                    <label class="projects-label">SOFTWARE SOLUTIONS</label>
                </div>
                <div class="hardware-card projects-card" (click)="redirectsTo('hardware')">
                    <img src="./../../assets/banners/hardware.jpg" class="projects-img" />
                    <label class="projects-label">HARDWARE SERVICES</label>
                </div>
            </article>
        </div>
    </div>
</section>