<section id="projects_section" class="projects-section">
    <div class="projects-block">
        <h1 class="common-headers">Our Projects</h1>
        <div class="projects-wrapper">
            <article class="project-block software-block">
                <h2 class="common-headers2">Software Solutions</h2>
                <p class="common-texts">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </article>
            <article class="project-block hardware-block">
                <h2 class="common-headers2">Hardware Solutions</h2>
                <p class="common-texts">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </article>
        </div>
    </div>
</section>