<section id="our_team" class="our-team-section">
    <div class="our-team-wrapper">
        <div class="team-intro">
            <h1 class="common-headers"><span>Our Team</span></h1>
            <p class="common-texts"><span>Meet our team—a group of passionate and skilled professionals dedicated to turning ideas into reality. With diverse expertise and a shared commitment to excellence, we collaborate to deliver innovative solutions that help your business thrive. Together, we're here to make your goals our mission.</span></p>
        </div>
        <div class="team-members-container">
            <div class="member-profile left pos-1">
                <h2 class="common-headers2">Gloann Nastor</h2>
                <p class="common-texts">Chairwoman</p>
                <ul class="custom-ul">
                    <li class="custom-li">Established several corporations in various industries.</li>
                    <li class="custom-li">Successfully secured multi-million-dollar deals across various projects.</li>
                    <li class="custom-li">A reliable partner for international entrepreneurs and major corporations.</li>
                </ul>
                <div class="member-img-container">
                    <img src="../../assets/images/gloann.png" class="member-img" />
                </div>
            </div>
            <div class="member-profile right pos-2">
                <h2 class="common-headers2">Dave Sanchez</h2>
                <p class="common-texts">Vice Chairman</p>
                <ul class="custom-ul">
                    <li class="custom-li">Experienced entrepreneur with a diverse portfolio of businesses across multiple industries.</li>
                    <li class="custom-li">Skilled decision-maker with a proven track record of making strategic and impactful choices.</li>
                </ul>
                <div class="member-img-container">
                    <img src="../../assets/images/dave.jpg" class="member-img" />
                </div>
            </div>
            <div class="member-profile left pos-3">
                <h2 class="common-headers2">Raboni Garcia</h2>
                <p class="common-texts">CEO (Chief Executive Officer)</p>
                <ul class="custom-ul">
                    <li class="custom-li">Over 10 years of experience in the IT industry</li>
                    <li class="custom-li">Jack-of-all-trades</li>
                    <li class="custom-li">Expertise: Hardware / Software configuration, Network Security, Cyber Security</li>
                </ul>
                <div class="member-img-container">
                    <img src="../../assets/images/rab.jpeg" class="member-img" />
                </div>
            </div>
            <div class="member-profile right pos-4">
                <h2 class="common-headers2">Mark Anthony Pajunar</h2>
                <p class="common-texts">CTO (Chief Technology Officer)</p>
                <ul class="custom-ul">
                    <li class="custom-li">Over 10 years of experience in the IT industry</li>
                    <li class="custom-li">Specialized in Software Development</li>
                    <li class="custom-li">Expertise: Angular, Java / Springboot, 3x Azure Certified (AZ-900, AZ-204, AI-900)</li>
                </ul>
                <div class="member-img-container">
                    <img src="../../assets/images/mark.jpg" class="member-img" />
                </div>
            </div>
            <div class="member-profile left pos-5">
                <h2 class="common-headers2">Peter Arnold Lopez</h2>
                <p class="common-texts">Head of Engineering</p>
                <ul class="custom-ul">
                    <li class="custom-li">Over 6 years of experience in the IT industry</li>
                    <li class="custom-li">Banking and Enterprise Software Development</li>
                    <li class="custom-li">Expertise: Angular, Java / Springboot, Database, Oracle Cloud Infrastructure, AI Foundation and Data Management Associate Certified</li>
                </ul>
                <div class="member-img-container">
                    <img src="../../assets/images/peter.jpg" class="member-img" />
                </div>
            </div>
            <div class="member-profile right pos-6">
                <h2 class="common-headers2">John Adrian Sicat</h2>
                <p class="common-texts">Head of Operations</p>
                <ul class="custom-ul">
                    <li class="custom-li">Over 10 years of experience in the IT industry</li>
                    <li class="custom-li">Specialized in Software Development</li>
                    <li class="custom-li">Expertise: Angular, Java / Springboot, UI Developer, Azure Certified (AZ-900)</li>
                </ul>
                <div class="member-img-container">
                    <img src="../../assets/images/adrian.jpg" class="member-img" />
                </div>
            </div>
            <div class="member-profile left pos-7">
                <h2 class="common-headers2">Lorvin Gordon</h2>
                <p class="common-texts">Head of Finance</p>
                <ul class="custom-ul">
                    <li class="custom-li">Strategic Head of Finance skilled in budgeting and growth optimization.</li>
                    <li class="custom-li">Results-driven leader excelling in financial planning and risk management.</li>
                </ul>
                <div class="member-img-container">
                    <img src="../../assets/images/lorvin.jpg" class="member-img" />
                </div>
            </div>
            <div class="member-profile right pos-8">
                <h2 class="common-headers2">Jan Vincent Cabasa</h2>
                <p class="common-texts">Director</p>
                <ul class="custom-ul">
                    <li class="custom-li">Visionary director with expertise in strategy and team leadership.</li>
                    <li class="custom-li">Skilled leader driving innovation and operational excellence.</li>
                </ul>
                <div class="member-img-container">
                    <img src="../../assets/images/jan.jpg" class="member-img" />
                </div>
            </div>
        </div>
    </div>
</section>