<section id="our_team" class="our-team-section">
    <div class="our-team-wrapper">
        <div class="team-container">
            <div class="team-member-left-content">
                <div class="team-writeup-container">
                    <h1 class="common-headers"><span>Our Team</span></h1>
                    <p class="common-texts"><span>Behind every success is a passionate and talented team. At Nexus Elixir, our team brings together diverse expertise, creativity, and dedication to achieve excellence. Each member plays a vital role in driving innovation and delivering exceptional results. Get to know the people who make it all happen!</span></p>
                </div>
                <div class="chairman-container">
                    <div class="member-card-container">
                        <div class="chairman-profile">
                            <img class="member-image" src="./../../assets/images/user.png" />
                            <div class="member-position">
                                <label class="member-position-name">Gloann Nastor</label>
                                <label class="member-position-label">Chairwoman</label>
                            </div>
                        </div>
                        <div class="chairman-speech">
                            <p class="common-texts">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-members-container">
                <div class="ceo-container">
                    <div class="member-card-container">
                        <img class="member-image" src="./../../assets/images/rab.jpg" />
                        <div class="member-position">
                            <label class="member-position-name">Raboni Garcia</label>
                            <label class="member-position-label">CEO</label>
                        </div>
                    </div>
                </div>
                <div class="members-container">
                    <a class="member-link" href="https://www.linkedin.com/in/adrian-sicat/" target="_blank">
                    <div class="member-card-container">
                        <img class="member-image" src="./../../assets/images/adrian.jpg" />
                        <div class="member-position">
                            <label class="member-position-name">John Adrian Sicat</label>
                            <label class="member-position-label">Director</label>
                        </div>
                    </div></a>
                    <a class="member-link" href="https://www.linkedin.com/in/supermarrk/" target="_blank">
                    <div class="member-card-container">
                        <img class="member-image" src="./../../assets/images/mark.jpg" />
                        <div class="member-position">
                            <label class="member-position-name">Mark Anthony Pajunar</label>
                            <label class="member-position-label">Director</label>
                        </div>
                    </div></a>
                    <a class="member-link" href="https://www.linkedin.com/in/pedz/" target="_blank">
                    <div class="member-card-container">
                        <img class="member-image" src="./../../assets/images/peter.jpg" />
                        <div class="member-position">
                            <label class="member-position-name">Peter Lopez</label>
                            <label class="member-position-label">Director</label>
                        </div>
                    </div></a>
                </div>
            </div>
        </div>
    </div>
</section>