<section id="our_team" class="our-team-section">
    <div class="our-team-wrapper">
        <div class="team-container">
            <div class="team-writeup-container">
                <h1 class="common-headers"><span>Our Team</span></h1>
                <p class="common-texts"><span>Behind every success is a passionate and talented team. At Nexus Elixir, our team brings together diverse expertise, creativity, and dedication to achieve excellence. Each member plays a vital role in driving innovation and delivering exceptional results. Get to know the people who make it all happen!</span></p>
            </div>
            <div class="team-members-container">
                <div class="ceo-container">
                    <div class="member-card-container">
                        <img class="member-image" src="./../../assets/images/rab.jpg" />
                        <div class="member-position">
                            <label class="member-position-name">Raboni Garcia</label>
                            <label class="member-position-label">CEO</label>
                        </div>
                    </div>
                </div>
                <div class="members-container">
                    <div class="member-card-container">
                        <img class="member-image" src="./../../assets/images/adrian.jpg" />
                        <div class="member-position">
                            <label class="member-position-name">John Adrian Sicat</label>
                            <label class="member-position-label">Sr. Full-Stack Software Engineer</label>
                        </div>
                    </div>
                    <div class="member-card-container">
                        <img class="member-image" src="./../../assets/images/mark.jpg" />
                        <div class="member-position">
                            <label class="member-position-name">Mark Anthony Pajunar</label>
                            <label class="member-position-label">Sr. Full-Stack Software Engineer</label>
                        </div>
                    </div>
                    <div class="member-card-container">
                        <img class="member-image" src="./../../assets/images/peter.jpg" />
                        <div class="member-position">
                            <label class="member-position-name">Peter Lopez</label>
                            <label class="member-position-label">Sr. Full-Stack Software Engineer</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>