<div class="inner-header">
    <app-inner-header></app-inner-header>
</div>
<div class="inner-container">
    <div class="inner-wrapper">
        <div class="inner-content">
            <ng-container *ngTemplateOutlet="body"></ng-container>
        </div>
        <div class="inner-footer">
            <div class="copyright-container">
                <span class="footer-texts">© 2024 NEXUS ELIXIR SOLUTIONS CORP. All rights reserved.</span>
                <span class="footer-texts">Partners with RBGROUP DIAMOND CORPORATION.</span>
            </div>
        </div>
    </div>
</div>