<app-inner-page [body]="body" currentPage="hardware">
    <ng-template #body>
        <div class="inner-banner-container">
            <img src="../../../assets/banners/inner-banner2.jpg" class="inner-banner-img" />
            <h1 class="inner-banner-header1">IT Services</h1>
        </div>
        <div class="inner-content-container">
            <div class="section-container">
                <div class="section-wrapper">
                    <p class="common-texts">Lorem Ipsum</p>
                </div>
            </div>
            <div class="section-container">
                <div class="section-wrapper">
                    <p class="common-texts">Lorem Ipsum</p>
                </div>
            </div>
            <div class="section-container">
                <div class="section-wrapper">
                    <p class="common-texts">Lorem Ipsum</p>
                </div>
            </div>
            <div class="section-container">
                <div class="section-wrapper">
                    <p class="common-texts">Lorem Ipsum</p>
                </div>
            </div>
        </div>
    </ng-template>
</app-inner-page>