/* You can add global styles to this file, and also import other style files */
html, body, .container {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    font-family: 'Californian-FB';
}

h1, h2, h3, h4 {
    font-family: 'Californian-FB-Bold';
}

.common-headers {
    margin: 0 0 15px 0;
    font-size: clamp(30px, 3vw, 45px);
}

.common-headers2 {
    margin: 0 0 15px 0;
    font-size: clamp(20px, 2vw, 25px);
}

.common-texts {
    margin: 0 0 15px 0;
    font-size: clamp(20px, 1.5vw, 25px);
    b {
        font-family: 'Californian-FB-Bold';
    }
}

.home-section, .about-us-section, .products-section, .contact-us-section, .our-team-section {
    min-height: 100vh;
    position: relative;
}

.custom-ul {
    background: #18122b;
    padding: 20px;
    border-radius: 80px;
    position: relative;
    z-index: 2;
    border: 10px solid #c1c1c1;
    box-sizing: border-box;
    height: 149px;
    margin: 0;
}

.custom-li {
    color: #ffffff;
    list-style: none;
    font-size: clamp(14px, .8vw, 16px);
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0;
    }
    &::before {
        content: "\2756";
        position: absolute;
        top: -3px;
        left: 5px;
    }
}

/**********
ANIMATIONS
***********/
@media (prefers-reduced-motion: no-preference) {
    @keyframes text-reveal {
        to {
            background-size: 100% 100%;
        }
    }

    @keyframes fade-in {
        to {
            scale: 1;
            opacity: 1;
        }
    }

    @keyframes fade-out {
        20% {
            opacity: 1;
        }
        50%, 100% {
            opacity: 0;
        }
    }

    @keyframes fade-zoom-out {
        to {
            opacity: 0;
            scale: 2;
        }
    }
}

/****************************************
MEDIA QUERY FOR MOBILE AND SMALL TABLETS
*****************************************/
@media (hover: none) and (pointer: coarse) and (max-width: 819px) {
    html {
        overflow-y: hidden;
    }

    .logo-container {
        position: fixed;
        bottom: 0;
        z-index: 99999;
        width: calc(20% - 1px);
        height: 69px;
        background: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
    }
    
    .nexus-logo {
        position: relative !important;
        top: auto !important;
        bottom: auto !important;
        margin: auto !important;
        height: 70px !important;
        left: auto !important;
    }

    .header {
        background-color: #ffffff !important;
        &.fixed {
            width: 100vw !important;
        }

        ul {
            justify-content: space-evenly;
            width: 100%;
        }

        li {
            color: #646464 !important;
            border-right: 1px solid #646464 !important;
            text-shadow: none !important;
            padding: 0 !important;
            width: 100%;
            justify-content: center;
            text-align: center !important;
            &.active {
                color: #0e196e;
            }
        }
    }

    .inner-header {
        position: fixed !important;
        bottom: 0;
        width: 100%;
        z-index: 1;
        background: #ffffff;
        .nexus-logo {
            position: absolute !important;
            left: 0 !important;
            right: 0;
            margin: auto !important;
        }
    }

    .inner-container {
        padding-bottom: 80px;
    }

    .tagline-container {
        animation: none !important;
    }

    .tagline-header {
        text-shadow: 1px 1px 2px #343434 !important;
    }

    .tagline-header2 {
        margin-top: 10px !important;
        font-size: clamp(20px, 2.5vw, 30px) !important;
        text-shadow: 1px 1px 2px #343434 !important;
    }

    .home-banners {
        animation: none !important;
    }

    .about-us-section .mission-vision-container, .services-container {
        padding: 0 !important;
    }

    .products-section {
        background-image: none !important;
        padding: 0 !important;
    }

    .software-card {
        margin-right: 20px !important;
    }

    .projects-card {
        margin: 0 auto 20px auto;
        width: 150px !important;
        height: 150px !important;
        .projects-img {
            transform: translateY(-70%) !important;
            opacity: 0.5 !important;
        }
    }

    .products-block {
        max-width: 100% !important;
        margin: 0 10px;
        padding: 50px 0 !important;
    }

    .products-wrapper {
        padding: 10px !important;
    }

    .products-list-wrapper {
        display: block !important;
    }

    .products-list-item {
        width: 100% !important;
    }

    .project-divider {
        &.mobile {
            display: block !important;
        }
    }

    .our-team-section {
        padding: 10px !important;
    }

    .team-intro {
        .common-texts {
            padding: 0 20px;
        }
    }

    .services-wrapper, .mission-vision-wrapper {
        display: block !important;
    }

    .about-us-section .service-article, .about-us-section .mission-vision-article {
        padding: 0 !important;
        width: 100% !important;
    }

    .member-img-container {
        border-radius: 100% !important;
        width: 100px !important;
        height: 100px !important;
        top: -70px !important;
        margin: 0 10px;

        .member-img {
            width: 100%;
        }
    }

    .member-profile {
        width: 100% !important;
        height: auto !important;
        margin-top: 80px !important;
        &.left {
            .member-img-container {
                right: auto !important;
            }

            .common-headers2 {
                padding-right: 0 !important;
            }

            .common-texts {
                padding-right: 0 !important;
            }
        }

        &.right {
            .member-img-container {
                left: auto !important;
                border-radius: 100% !important;
                right: 0;
            }

            .common-headers2 {
                margin-left: 0 !important;
            }

            .common-texts {
                margin-left: 0 !important;
            }
        }
    }

    .pos-1 .member-img {
        margin-left: 0 !important;
    }

    .pos-2 .member-img {
        scale: 1 !important;
    }

    .pos-3 .member-img {
        margin-left: 0 !important;
    }

    .pos-4 .member-img {
        margin-left: 0 !important;
    }

    .pos-5 .member-img {
        margin-left: 0 !important;
    }

    .pos-6 .member-img {
        margin-left: 0 !important;
    }

    .pos-7 .member-img {
        margin-left: 0 !important;
    }

    .pos-8 .member-img {
        margin-left: 0 !important;
        margin-top: 0 !important;
        scale: 1 !important;
    }

    .custom-ul {
        height: auto !important;
        border-radius: 100px !important;
        border: none !important;
    }

    .contact-us-article {
        width: 100% !important;
    }

    .footer-container {
        bottom: 80px !important;
        display: block !important;
    }

    .inner-footer {
        display: none;
    }
}

/***********
FONT FAMILY
************/
//Calibri
@font-face {
    font-family: 'Calibri-Regular';
    src: url('./assets/fonts/calibri/calibri-regular.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/calibri/calibri-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/calibri/calibri-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/calibri/calibri-regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('./assets/fonts/calibri/calibri-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/calibri/calibri-regular.svg#marker') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Calibri-Bold';
    src: url('./assets/fonts/calibri/calibri-bold.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/calibri/calibri-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/calibri/calibri-bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/calibri/calibri-bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('./assets/fonts/calibri/calibri-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/calibri/calibri-bold.svg#marker') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Calibri-Italic';
    src: url('./assets/fonts/calibri/calibri-italic.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/calibri/calibri-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/calibri/calibri-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/calibri/calibri-italic.woff') format('woff'), /* Pretty Modern Browsers */
         url('./assets/fonts/calibri/calibri-italic.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/calibri/calibri-italic.svg#marker') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Calibri-Bold-Italic';
    src: url('./assets/fonts/calibri/calibri-bold-italic.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/calibri/calibri-bold-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/calibri/calibri-bold-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/calibri/calibri-bold-italic.woff') format('woff'), /* Pretty Modern Browsers */
         url('./assets/fonts/calibri/calibri-bold-italic.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/calibri/calibri-bold-italic.svg#marker') format('svg'); /* Legacy iOS */
}

// Californian FB
@font-face {
    font-family: 'Californian-FB';
    src: url('./assets/fonts/californian-fb/californian-fb.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/californian-fb/californian-fb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/californian-fb/californian-fb.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/californian-fb/californian-fb.woff') format('woff'), /* Pretty Modern Browsers */
         url('./assets/fonts/californian-fb/californian-fb.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/californian-fb/californian-fb.svg#marker') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Californian-FB-Bold';
    src: url('./assets/fonts/californian-fb/californian-fb-bold.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/californian-fb/californian-fb-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/californian-fb/californian-fb-bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/californian-fb/californian-fb-bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('./assets/fonts/californian-fb/californian-fb-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/californian-fb/californian-fb-bold.svg#marker') format('svg'); /* Legacy iOS */
}