.home-banner {
    position: relative;
    height: 100vh;
    background: #262626;
}

.home-banners {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: fade-zoom-out linear forwards;
    animation-timeline: view();
    animation-range: exit;
}

.tagline-container {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 999;
    align-items: center;
    display: flex;
    padding: 0 50px;
    animation: fade-out linear forwards;
    animation-timeline: view();
    animation-range: exit;
}

.tagline-header, .tagline-header2 {
    color: #ffffff;
    margin: 0;
    text-shadow: 1px 1px 5px #343434;
}

.tagline-header {
    font-size: clamp(25px, 3.5vw, 60px);
}