<app-header></app-header>
<section id="home_section" class="home-section">
    <div class="tagline-container">
        <div class="tagline-wrapper">
            <h1 class="tagline-header">Bridging Innovation with Technology</h1>
            <h2 class="tagline-header2">Your One-Stop Solution for Software and Hardware Excellence.</h2>
        </div>
    </div>
    <div class="home-banner">
        <img src="../../assets/banners/banner1.jpg" class="home-banners" />
    </div>
</section>
<app-about-us></app-about-us>
<app-our-team></app-our-team>
<app-projects></app-projects>
<app-contact-us></app-contact-us>